*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECEEF1;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

.user_sign_in{
    float: right;
}

    #user-sign-in{
        float: right;
        display: block;
        margin-right: 8px;
        text-align: right;
        font-size: 13px;
    }

    #Sign_in{
        float: right;
        padding: 9px 18px;
        font-size: 15px;
        border-radius: 5px;
        background-color: #0077c5;
        border: none;
        color: white;
    }

    #forgot_password_text{
        text-decoration: none;
        color: #0077c5;
        margin-top: 5px;
        display: block;
    }

    #mint-logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 15px;
    }
/*form style*/
    .form-block {
       width: 380px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    padding-bottom: 0px;
    color: #4C4C4C;
    text-align: center;
    
}

h1{
    font-size: 20px;
    font-weight: 10px;
    padding-bottom: 20px;
}

.form-block p{
font-size:14px;
}

.form-block a{
    font-size: 10px;
    color: #0077c5;
    text-decoration: none;
}

form{
    text-align:left;
}

form label{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    display:block;
}

form input{
    padding: 8px 5px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #c1c5c8;
    display:block;
}

input #phone{
    margin-bottom: 0px;
}

form small{
    font-size:10px;
}

#create_account_btn{
    background-color: #0077C5;
    color: white;
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #c1c5c8;
    font-size: 15px;
    margin-bottom: 30px;
}

/*Terms and conditions*/

.terms_and_conditions{
    font-size: 12px;
    font-style: italic;
    margin: 0 12px;
}

#by{
  font-style: italic;
}
/*Privacy policy*/
#Privacy_policy{
    margin: 32px -30px 0 -30px;
    font-size: 10px;
    padding: 16px;
    background-color: #ECEEF1;
    color: #8d9096;
}

#Privacy_policy a{
    font-size: 10px;
}

/*footer*/

footer {
    margin-left: 28%;
    width: 46%;
    margin-top: 20px;    
    text-align: center;
    margin-bottom: 20px;
    color: #8d9096;
}

.legal {
    padding: 5px;
    font-size: 12px; 
    color: #8d9096;
}
.legal a:hover{
    text-decoration: underline;
    color: #8d9096;
}

span a{
    padding-right:10px;
    color:black;
text-decoration: none;
}

.copyright{
    font-size: 12px;    
}